/* 
    Document   : screen
    Created on : 02-Sep-2012, 10:53:47
    Author     : duke
    Description:
        Purpose of the stylesheet follows.
*/


body {
    background: url("../images/grid-18px-masked.png") repeat-x 0 190px;
}

.nav li + li span.nav-header {
    margin-top: 9px;
}

.sidebar-nav .nav.nav-list + .nav.nav-list {
    margin-top: 9px;
}

.well .page-header {
    margin: 0 0 30px;
    padding: 0;
    border-bottom: 1px solid #CCCCCC;
}

.well .page-header h1 {
    margin: 10px 0;
}